<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../include")%>
    <title>控制台</title>
</head>

<body background="/public/imgs/material-grey-light-4k.jpg">
    <div class="wrap">
        <div class="main">
            <%- include("header") %>
            <div class="container">
                <div class="page-header">
                </div>
                <div>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Hello,
            </h1>
            <p>欢迎进入后台管理界面</p>
            <p><a class="btn btn-primary btn-lg" href="/admin/content/add" role="button">立即开始</a></p>
        </div>
    </div>
                </div>
            </div>
        </div>

    </div>
    <%- include("../main/footer")%>
</body>
</html>

