<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../include")%>
    <title>控制台</title>
</head>

<body>
    <%- include("header") %>

    <div class="container-fluid">
        <ol class="breadcrumb">
        <li><a href="/admin">管理首页</a></li>
        <li class="active">成功提示</li>
        </ol>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">成功提示</h3>
            </div>
            <div class="panel-body">
                <%=message%>
            </div>
            <div class="panel-footer">
                <%if(url){%>
                <font id="num"></font><a href="<%=url%>">直接跳转</a>
                <%}else{%>
                <a href="javascript:window.history.back();">返回上一步</a>
                <%}%>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    function recount(num) {
        if (num > 0) {
            num--;
            setTimeout(function () { recount(num); }, 1000);
            $('#num').html(num + 's后自动跳转页面...');
        } else {
            console.log("end");
        }
    }
    recount(4);
</script>
</html>