<header>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Medo</a>
        </div>
        <div class="container">
            <ul class="nav navbar-nav">
                <% if (!other.categoryId) {%>
                <li class="active"><a href="/">首页</a></li>
                <% } else {%>
                <li><a href="/">首页</a></li>
                <% } %>
                <% for (let i = 0, len = other.categories.length; i < len; i++) {%>
                <% if (other.categoryId === other.categories[i].id) {%>
                <li class="active"><a href="/?categoryId=<%= other.categories[i].id %>">
                        <%= other.categories[i].name %></a></li>
                <% } else {%>
                <li><a href="/?categoryId=<%= other.categories[i].id %>">
                        <%= other.categories[i].name %></a></li>
                <% } %>

                <% } %>
                <li><a href="/test">测试</a></li>
            </ul>
        </div>
    </nav>
</header>