<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../include")%>
    <title>Medo</title>

</head>

<body background="/public/imgs/material-grey-light-4k.jpg">
    <div class="wrap">
        <div class="main">
            <%- include("nav")%>
            <div class="container">
                <div class="page-header">
                    <!-- Header -->
                    <%= username%>
                </div>
                <div>
                    <!-- Body&Content -->
                </div>
            </div>
        </div>

    </div>
    <%- include("footer")%>
</body>

</html>