<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../include")%>
    <title>Medo</title>

</head>

<body background="/public/imgs/material-grey-light-4k.jpg">
    <div class="wrap">
        <div class="main">
            <%- include("../main/nav")%>
            <div class="container">
                <div class="page-header">

                    <h2 class="text-center" style="color: lightblue">Log in to your account.</h2>

                </div>
                <div>
                    <!-- Body&Content -->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-8">
                                <form action="/users/login" method="post">
                                    <div class="form-group row">
                                        <label for="email_address" class="col-md-4 col-form-label text-md-right">Username</label>
                                        <div class="col-md-6">
                                            <input type="text" id="email_address" class="form-control" name="username"
                                                required autofocus>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                        <div class="col-md-6">
                                            <input type="password" id="password" class="form-control" name="password"
                                                required>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-8 offset-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="remember"> Remember Me
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-10">
                                        <input type="hidden" name="referer" value=<%=referer %> >
                                        <button type="submit" class="btn btn-primary btn-block">
                                            登录
                                        </button>
                                        <a href="#" class="btn btn-link">
                                            忘记密码
                                        </a>
                                    </div>
                            </div>
                            </form>
                        </div><!-- ends col-8 -->
                        <div class="col-md-2">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    </div>
    <%- include("../main/footer")%>
</body>

</html>