<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../include")%>
    <title>Medo</title>

</head>

<body background="/public/imgs/material-grey-light-4k.jpg">
    <div class="wrap">
        <div class="main">
            <%- include("../main/nav")%>
<div class="container">
    <div class="page-header">

        <h2 class="text-center" style="color: lightblue">Create your own account, and enjoy the service we provided!</h2>

    </div>
    <div>
        <!-- Body&Content -->

        <form class="form" action="/users/register/" method="post">
            <input name="csrfmiddlewaretoken" type="hidden" value="TIt0m049k2gl1oAwXvLIsWJAM882mvQnuClRXSkzYmbWe1SYFcBModFGi7UmfmbR">
            <div class="form-group"><label class="control-label" for="id_username">Username</label><input name="username"
                    title="Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only." class="form-control"
                    id="id_username" autofocus="" required="" type="text" maxlength="150" placeholder="Username">

                <div class="help-block">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</div>

            </div>
            <div class="form-group"><label class="control-label" for="id_password1">Password</label><input name="password"
                    title="Your password can&amp;#39;t be too similar to your other personal information.Your password must contain at least 8 characters.Your password can&amp;#39;t be a commonly used password.Your password can&amp;#39;t be entirely numeric."
                    class="form-control" id="id_password1" required="" type="password" placeholder="Password">

                <div class="help-block">
                    <ul>
                        <li>Your password can't be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can't be a commonly used password.</li>
                        <li>Your password can't be entirely numeric.</li>
                    </ul>
                </div>

            </div>
            <div class="form-group"><label class="control-label" for="id_password2">Password confirmation</label><input
                    name="repassword" title="Enter the same password as before, for verification." class="form-control"
                    id="id_password2" required="" type="password" placeholder="Password confirmation">

                <div class="help-block">Enter the same password as before, for verification.</div>

            </div>
            <div class="form-group">
                <button name="submit" class="btn btn-primary btn-block">Register</button>
            </div>
            <input name="next" type="hidden" value="/">
        </form>

    </div>
</div>
        </div>

    </div>
    <%- include("../main/footer")%>
</body>

</html>